@import url(./fonts.scss);


$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;

/* start nav */
header[role="banner"] {
    #logo-main {
      display: block;
      margin: 20px auto;
    }
  }
  
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav { 
      width: 100%;
      text-align: center;
      > li {
        display: inline-block;
        float: none;
        > a {
          padding-left: 30px;
          padding-right: 30px;
          }
      }
    }
  }
  .navbar-nav li {
    font-family: $subtitle-font;
  }

/* end nav */
